.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 92px 48px 0;
    gap: 16px;
}
@media (max-width: 1023px) {
    .photo-grid {
        padding: 88px 24px 0;
    }
}
@media (max-width: 767px) {
    .photo-grid {
        padding: 64px 16px 0;
        gap: 12px;
    }
}
