.lead {
    max-width: 1080px;
    padding: 56px 48px 0;
    margin: 0 auto;
    box-sizing: border-box;
}
@media (max-width: 1025px) {
    .lead {
        padding-top: 48px;
    }
}
@media (max-width: 769px) {
    .lead {
        padding-left: 0;
        padding-right: 0;
    }
}
