@import url(__item-number/__item-number.css);
@import url(__item-uppercase/__item-uppercase.css);
@import url(__item/__item.css);
@import url(__list/__list.css);
@import url(__text/__text.css);
@import url(__title/__title.css);
.intro {
    padding-top: 92px;
}
@media (max-width: 1023px) {
    .intro {
        padding-top: 88px;
    }
}
@media (max-width: 767px) {
    .intro {
        padding-top: 64px;
    }
}
