.intro {
    padding-top: 92px;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px 0;
    color: #ffffff;
}

.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 0 0 33px 0;
    color: #ffffff;
    max-width: 690px;
}

.intro__list {
    margin: 0;
    padding: 0;
}

.intro__item {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    color: #ffffff;
}

.intro__item-number {
    font-weight: 400;
}

.intro__item-uppercase {
    text-transform: uppercase;
}
