@media (max-width: 1023px) {
    .header {
        padding: 28px 24px 0;
    }
    .lead__subtitle {
        margin-bottom: 56px;
    }
    .lead {
        padding-top: 48px;
    }
    .intro {
        padding-top: 88px;
    }
    .places {
        padding-top: 88px;
    }
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
    .place:not(:last-child) {
        margin-bottom: 73px;
    }
    .photo-grid {
        padding: 88px 24px 0;
    }
    .place__inner {
        gap: 28px;
    }
    .container {
        padding: 0 24px;
    }
    .place__paragraph {
        font-size: 16px;
    }
    .cover {
        padding: 90px 0 88px;
    }
    .cover__wrapper {
        padding: 195px 0;
    }
    .footer {
        padding: 0 24px 24px;
    }
}
@media (max-width: 767px) {
    .header {
        padding: 16px 16px 0;
    }
    .header__logo {
        width: 142px;
    }
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    .lead__images {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
    .intro {
        padding-top: 64px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
    .photo-grid {
        padding: 64px 16px 0;
        gap: 12px;
    }
    .container {
        padding: 0 16px;
    }
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
    .place__inner {
        display: block;
    }
    .places {
        padding-top: 64px;
    }
    .place__inner:not(:last-child) {
        margin-bottom: 32px;
    }
    .place__image {
        max-width: calc(100% + 32px);
        width: calc(100% + 32px);
        margin-bottom: 32px;
        margin-left: -16px;
    }
    .cover {
        padding: 66px 0 64px;
    }
    .cover__wrapper {
        padding: 33px 16px;
    }
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
    .footer__copyright {
        line-height: 14px;
    }
}
