.cover {
    padding: 92px 0;
}
.cover__wrapper {
    display: block;
    padding: 245px 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background: url(../../images/cover-trains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
}
.cover__wrapper::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 44, 47, 0.3);
    z-index: 1;
    transition: 0.3s;
}
.cover__wrapper:hover::before {
    background: rgba(42, 44, 47, 0.8);
}
.cover__title {
    position: relative;
    z-index: 10;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    margin: 0 auto 32px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.cover__subtitle {
    position: relative;
    z-index: 10;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}
