.cover {
    padding: 92px 48px;
    box-sizing: border-box;
}
@media (max-width: 1025px) {
    .cover {
        padding: 90px 0 88px;
    }
}

@media (max-width: 600px) {
    .cover {
        padding-top: 66px;
        padding-bottom: 64px;
    }
}
