.cover {
    padding: 92px 48px;
    box-sizing: border-box;
}
@media (max-width: 1025px) {
    .cover {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 769px) {
    .cover {
        padding-top: 90px;
        padding-bottom: 88px;
    }
}

@media (max-width: 600px) {
    .cover {
        padding-top: 66px;
        padding-bottom: 64px;
    }
}
