.container {
    max-width: 1080px;
    padding: 0 148px;
    margin: 0 auto;
}
@media (max-width: 1023px) {
    .container {
        padding: 0 24px;
    }
}
@media (max-width: 767px) {
    .container {
        padding: 0 16px;
    }
}
